Basics of date time

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
cur_date = datetime.now()

In [3]:
# this outputs year, day, month, hour, minutes, seconds, miliseconds
cur_date

datetime.datetime(2022, 8, 14, 5, 54, 33, 370150)

In [4]:
print(f'day currently {cur_date.day} and month currently {cur_date.month}')

day currently 14 and month currently 8

In [5]:
from datetime import timedelta, timezone

datetime(2022, 12, 30) - timedelta(40)

datetime.datetime(2022, 11, 20, 0, 0)

converting from string to datetime vice versa

In [6]:
time = datetime(2022, 8, 25)

In [7]:
time

datetime.datetime(2022, 8, 25, 0, 0)

In [8]:
str(time)

'2022-08-25 00:00:00'

In [9]:
# or use parse to automatically parse strings

from dateutil.parser import parse

parse('2022-11-30')

datetime.datetime(2022, 11, 30, 0, 0)

In [10]:
parse('8/6/2022', dayfirst = True)

datetime.datetime(2022, 6, 8, 0, 0)

In [11]:
pd.to_datetime('2000-8-6')

Timestamp('2000-08-06 00:00:00')

pandas datetime and data frame application

In [12]:
# date range
per = pd.date_range('1/1/2000', periods=100, freq='D')
per

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10', '2000-03-11', '2000-03-12',
               '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16',
               '2000-03-17', '2000-03-18', '2000-03-19', '2000-03-20',
               '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24',
               '2000-03-25', '2000-03-26', '2000-03-27', '2000-03-28',
               '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-01',
               '2000-04-02', '2000-04-03', '2000-04-04', '2000-04-05',
               '2000-04-06', '2000-04-07', '2000-04-08', '2000-04-09'],
              dtype='datetime64[ns]', freq='D')

In [13]:
data = pd.DataFrame(np.random.randn(100,5), index = per, columns='A B C D E'.split(' '))
data

                   A         B         C         D         E
2000-01-01  0.355506  0.368873  0.814471  0.856906 -1.746354
2000-01-02 -0.836819 -0.788561 -1.463347  0.078322  1.402236
2000-01-03 -2.040474  0.863773  0.628846 -0.226316 -0.168081
2000-01-04  0.416270  1.292038  0.037446 -0.209330 -1.700764
2000-01-05  0.425730  0.496638  0.516344 -2.015472  0.197601
...              ...       ...       ...       ...       ...
2000-04-05  0.659998  0.277303  0.658955 -0.937847 -1.370363
2000-04-06  0.650500 -1.161584 -0.111623  0.017466 -0.211059
2000-04-07  0.875910 -0.741221  0.147836 -1.749699 -1.390420
2000-04-08 -1.222048  1.287807 -0.267371  1.126893 -0.462131
2000-04-09  0.182824  0.887921  0.102655 -1.223943  0.796963

[100 rows x 5 columns]

: